<!DOCTYPE html>
<html>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <body>
        <!-- This div will be replaced by the template defined in Vue instance in JavaScript file -->
        <div id="app"></div>

        <script>
            new Vue({
                el: "#app",
                template: `
                <div>
                    <h1>Vue.js Application</h1>
                    Search: <input v-model="searchStr" type="text" placeholder="Search Employee...">
                    <h2>All employees are listed below</h2>

                    <p v-for="employee in newEmployeeArr">
                    {{ employee }}
                    </p>
                </div>
                `,
                data: {
                    searchStr: "",
                    employees: [
                        "Alex Han",
                        "Ali Usman",
                        "Peter Parker",
                        "John Lee",
                        "Eva Holmes",
                    ],
                },
                computed: {
                    newEmployeeArr: function() {
                        if(this.searchStr.length > 0) {
                            return this.employees.filter(item => 
                            item.includes(this.searchStr))
                        }else {
                            return this.employees
                        }
                    }
                }
            });
        </script>
    </body>
</html>
