<!DOCTYPE html>
<html>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <body>
        <!-- This div will be replaced by the template defined in Vue instance in JavaScript file -->
        <div id="app"></div>

        <script>
            // INPUT
            // new Vue({
            //     el: "#app",
            //     template: `
            //     <div>
            //         <h1>Vue.js Application</h1>
            //         <input v-model="name" placeholder="Write name here...">
            //         <p>Your name is: {{ name }} </p>
            //     </div>
            //     `,
            //     data: {
            //         name: "",
            //     },
            // });

            // TEXT AREA
            // new Vue({
            //     el: "#app",
            //     template: `
            //     <div>
            //         <h1>Vue.js Application</h1>
            //         <textarea v-model="letter_content" placeholder="Add multiple lines"></textarea>
            //         <br>
            //         <span>Multiline message is:</span>
            //         <p style="white-space: pre-line;">{{ letter_content }}</p>
            //     </div>
            //     `,
            //     data: {
            //         letter_content: "",
            //     },
            // });

            // CHECKBOX
            // new Vue({
            //     el: "#app",
            //     template: `
            //     <div>
            //         <h1>Vue.js Application</h1>

            //         <input type="checkbox" id="i1" value="Item 1" v-model="checked">
            //         <label for="i1">Item 1</label><br>
                    
            //         <input type="checkbox" id="i2" value="Item 2" v-model="checked">
            //         <label for="i2">Item 2</label><br>
                
            //         <input type="checkbox" id="i3" value="Item 3" v-model="checked">
            //         <label for="i3">Item 3</label><br>
                    
            //         <br><br>
            //         <span>Checked items: {{ checked }}</span>
            //     </div>
            //     `,
            //     data: {
            //         checked: [],
            //     },
            // });

            // RADIO BUTTONS
            // new Vue({
            //     el: "#app",
            //     template: `
            //     <div>
            //         <h1>Vue.js Application</h1>
            //         <h3> Pick one item!</h3>

            //         <input type="radio" id="i1" value="Item 1" v-model="picked">
            //         <label for="i1">Item 1</label><br>

            //         <input type="radio" id="i2" value="Item 2" v-model="picked">
            //         <label for="i2">Item 2</label><br>

            //         <input type="radio" id="i3" value="Item 3" v-model="picked">
            //         <label for="i3">Item 3</label><br>

            //         <br><br>
            //         <span>Picked Item: {{ picked }}</span>
            //     </div>
            //     `,
            //     data: {
            //         picked: "", // It is a string rather than an array.
            //     },
            // });

            // SELECTION LIST
            // new Vue({
            //     el: "#app",
            //     template: `
            //     <div>
            //         <h1>Vue.js Application</h1>

            //         <select v-model="selected">
            //         <option disabled value="">Please select one</option>
            //         <option>Item 1</option>
            //         <option>Item 2</option>
            //         <option>Item 3</option>
            //         </select>
            //         <br><br>
            //         <span>Selected: {{ selected }}</span>
            //     </div>
            //     `,
            //     data: {
            //         selected: "", // It is a string rather than an array.
            //     },
            // });
        </script>
    </body>
</html>
